<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8"/>
    <title>Liste Projets | Admin - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico"/>

    <!-- plugin css -->
    <link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
          type="text/css"/>
    <!-- preloader css -->
    <link rel="stylesheet" href="assets/css/preloader.min.css" type="text/css"/>
    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>

</head>

<body>

<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a th:href="@{/}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-sm.svg" alt="" height="24">
                                </span>
                        <span class="logo-lg">
                                    <img src="assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">Gestion Personnel</span>
                                </span>
                    </a>

                    <a th:href="@{/}" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-sm.svg" alt="" height="24">
                                </span>
                        <span class="logo-lg">
                                    <img src="assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">Gestion Personnel</span>
                                </span>
                    </a>
                </div>
                <!-- LOGO -->

                <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>

                <!-- App Search-->
                <form class="app-search d-none d-lg-block">
                    <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search...">
                        <button class="btn btn-primary" type="button"><i class="bx bx-search-alt align-middle"></i>
                        </button>
                    </div>
                </form>
                <!-- END App Search-->
            </div>

            <div class="d-flex">

                <div class="dropdown d-inline-block d-lg-none ms-2">
                    <button type="button" class="btn header-item" id="page-header-search-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-feather="search" class="icon-lg"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                         aria-labelledby="page-header-search-dropdown">
                        <!-- App Search-->
                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..."
                                           aria-label="Search Result">

                                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i>
                                    </button>
                                </div>
                            </div>
                        </form><!-- End App Search-->
                    </div>
                </div>

                <!-- Dark mode button -->
                <div class="dropdown d-none d-sm-inline-block">
                    <button type="button" class="btn header-item" id="mode-setting-btn">
                        <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                        <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                    </button>
                </div><!-- Dark mode button -->

                <!-- Notification -->
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon position-relative"
                            id="page-header-notifications-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-feather="bell" class="icon-lg"></i>
                        <span class="badge bg-danger rounded-pill">0</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                         aria-labelledby="page-header-notifications-dropdown">
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="m-0"> Notifications </h6>
                                </div>
                                <div class="col-auto">
                                    <a href="#!" class="small text-reset text-decoration-underline"> Unread (3)</a>
                                </div>
                            </div>
                        </div>
                        <div data-simplebar style="max-height: 230px;">
                            <a href="#!" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <img src="assets/images/users/avatar-3.jpg" class="rounded-circle avatar-sm"
                                             alt="user-pic">
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">James Lemire</h6>
                                        <div class="font-size-13 text-muted">
                                            <p class="mb-1">It will seem like simplified English.</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                                                <span>1 hours ago</span></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#!" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 avatar-sm me-3">
                                                <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                    <i class="bx bx-cart"></i>
                                                </span>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your order is placed</h6>
                                        <div class="font-size-13 text-muted">
                                            <p class="mb-1">If several languages coalesce the grammar</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>3 min ago</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#!" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 avatar-sm me-3">
                                                <span class="avatar-title bg-success rounded-circle font-size-16">
                                                    <i class="bx bx-badge-check"></i>
                                                </span>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your item is shipped</h6>
                                        <div class="font-size-13 text-muted">
                                            <p class="mb-1">If several languages coalesce the grammar</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>3 min ago</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="#!" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <img src="assets/images/users/avatar-6.jpg" class="rounded-circle avatar-sm"
                                             alt="user-pic">
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Salena Layfield</h6>
                                        <div class="font-size-13 text-muted">
                                            <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                                                <span>1 hours ago</span></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-2 border-top d-grid">
                            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                <i class="mdi mdi-arrow-right-circle me-1"></i> <span>View More..</span>
                            </a>
                        </div>
                    </div>
                </div><!-- Notification -->

                <!-- Avatar -->
                <div class="dropdown d-inline-block">
                    <button type="button"
                            class="btn header-item bg-soft-light border-start border-end"
                            id="page-header-user-dropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user"
                             src="assets/images/users/avatar.jpg" alt="Header Avatar">
                        <span class="d-none d-xl-inline-block ms-1 fw-medium">Shawn L.</span>
                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a class="dropdown-item" href="apps-contacts-profile.html"><i
                                class="mdi mdi-face-profile font-size-16 align-middle me-1"></i>Profile</a>
                        <a class="dropdown-item" href="auth-lock-screen.html"><i
                                class="mdi mdi-lock font-size-16 align-middle me-1"></i>Lock screen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}"><i
                                class="mdi mdi-logout font-size-16 align-middle me-1"></i>Logout</a>
                    </div>
                </div>
                <!-- Avatar -->

            </div>
        </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">

        <div data-simplebar class="h-100">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title" data-key="t-menu">Menu</li>

                    <li>
                        <a th:href="@{/}">
                            <i data-feather="home"></i>
                            <span data-key="t-dashboard">Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow">
                            <i data-feather="user"></i>
                            <span data-key="t-apps">Administrateurs</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a th:href="@{/addAdmin}">
                                    <i data-feather="user-plus"></i>
                                    <span data-key="t-calendar">Ajouter Administrateur</span>
                                </a>
                            </li>

                            <li>
                                <a th:href="@{/listeAdmins}">
                                    <i data-feather="list"></i>
                                    <span data-key="t-chat">Liste Administrateurs</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow">
                            <i data-feather="users"></i>
                            <span data-key="t-authentication">Clients</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a th:href="@{/addClient}">
                                    <i data-feather="user-plus"></i>
                                    <span data-key="t-login">Ajouter Client</span>
                                </a>
                            </li>

                            <li>
                                <a th:href="@{/listeClients}">
                                    <i data-feather="list"></i>
                                    <span data-key="t-login">Liste Clients</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow">
                            <i data-feather="share-2"></i>
                            <span data-key="t-pages">Projets</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a th:href="@{/addProjet}">
                                    <i data-feather="folder-plus"></i>
                                    <span data-key="t-login"> Ajouter Projet</span>
                                </a>
                            </li>

                            <li>
                                <a th:href="@{/listeProjet}">
                                    <i data-feather="list"></i>
                                    <span data-key="t-login">Liste Projets</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="javascript: void(0);" class="has-arrow"> <i
                            data-feather="layers"></i> <span data-key="t-pages">Taches</span>
                    </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a th:href="@{/addTache}"> <i
                                    data-feather="file-plus"></i> <span data-key="t-login">
											Ajouter Tache</span>
                            </a></li>

                            <li><a th:href="@{/listeProjet}">
                                <i data-feather="list"></i> <span data-key="t-login">Liste
											Taches</span>
                            </a></li>
                        </ul>
                    </li>

                    <li><a href="javascript: void(0);" class="has-arrow"> <i
                            data-feather="user-check"></i> <span data-key="t-apps">Personnels</span>
                    </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a th:href="@{/addPerso}"> <i
                                    data-feather="user-plus"></i> <span data-key="t-calendar">Ajouter
											Personnel</span>
                            </a></li>

                            <li><a th:href="@{/listePerso}"> <i data-feather="list"></i>
                                <span data-key="t-chat">Liste Personnels</span>
                            </a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow">
                            <i data-feather="message-square"></i>
                            <span data-key="t-apps">Messages</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li>
                                <a th:href="@{/sendMsg}">
                                    <i data-feather="send"></i>
                                    <span data-key="t-calendar">Envoyer Message</span>
                                </a>
                            </li>

                            <li>
                                <a th:href="@{/listMsg}">
                                    <i data-feather="list"></i>
                                    <span data-key="t-chat">Liste Messages</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Liste Projets</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Projets</a></li>
                                    <li class="breadcrumb-item active">Liste Projets</li>
                                </ol>
                            </div>

                        </div>
                    </div>

                    <!-- start content -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title font-size-18">Ajouter un Projet :
                                        <a th:href="@{/addProjet}" type="button"
                                           class="btn btn-soft-info waves-effect waves-light">
                                            <i class="bx bx-add-to-queue label-icon"></i>
                                        </a>
                                    </h4>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4" th:each="projets : ${listeProjets}">
                                        <div class="card border border-primary">
                                            <div class="card-header bg-transparent border-primary d-flex align-items-center">
                                                <div class="col-lg-10">
                                                    <h5 class="text-primary" th:text="${projets.nomProjet}"></h5>
                                                </div>
                                                <div class="flex-shrink-0 ms-2">
                                                    <img class="card-img-top" alt=""
                                                         th:with="paymentImageName = ${projets.methodePaiement == 'Espece'}? 'Espece' : 'Cheque'"
                                                         th:src="@{/assets/images/tache/{imageName}.png(imageName=${paymentImageName})}"
                                                         width="40" height="40"/>
                                                </div>
                                                <div class="flex-shrink-0 ms-2">
                                                    <a href=""><i class="bx bx-x font-size-20"></i></a>
                                                </div>

                                            </div>

                                            <div class="card-body" th:each="taches : ${listeTaches}"
                                                 th:if="${taches.projetid == projets.id}">
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div class="grid-container">
                                                            <h4 class="card-title" th:text="${taches.nomTache}"></h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="grid-container">
                                                            <a href=""
                                                               class="badge rounded-pill badge-soft-dark text-primary">Afficher</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div
                                                            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                                            role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                            th:style="'width:'+${projets.avancement}+';'"
                                                            th:text="${projets.avancement}"></div>
                                                </div>
                                                <div th:each="perso : ${listePerso}"
                                                     th:if="${taches.persoid == perso.id}">
                                                    <div class="row">
                                                        <div class="col-lg-10">
                                                            <div class="grid-container">
                                                                <h5 class="card-text" th:text="${perso.prenom}"></h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="grid-container">
                                                                <a href=""
                                                                   class="badge rounded-pill badge-soft-dark text-primary">Modifier</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-footer bg-transparent border-primary">
                                                <button type="button"
                                                        class="btn btn-outline-light waves-effect w-100"
                                                        data-bs-toggle="modal" data-bs-target="#addModal">
                                                    <i class="bx bx-plus font-size-16 align-middle"></i>Ajouter Tâche
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>

                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end content -->

                </div><!-- end page title -->
            </div> <!-- container-fluid -->
        </div><!-- End Page-content -->

        <!-- Begin footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>
                        © Designet Web Agency.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by <a href="https://www.facebook.com/cfd.designet" target="_blanck"
                                                   class="text-decoration-underline">Designet</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- End Footer -->
    </div><!-- end main content-->
</div><!-- END layout-wrapper -->

<!-- Begin Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" th:action="@{/taches/addNew}" th:object="${tache}" method="post"
                      novalidate>
                    <!-- Start row -->

                    <label class="form-label" for="validationTooltip01">Nom Tache</label>
                    <input type="text" class="form-control" placeholder="Nom de la Tache" required name="nomTache"/>

                    <label class="form-label" for="validationTooltip01">Description</label>
                    <textarea class="form-control" rows="3" name="description"></textarea>

                    <label for="example-date-input" class="form-label">Deadline</label>
                    <input class="form-control" type="date" placeholder="" name="deadline"/>

                    <label class="form-label" for="validationTooltip01">Statut</label>
                    <select class="form-select" name="statut">
                        <option value="" hidden="">Selectionné le statut</option>
                        <option value="to do">To do</option>
                        <option value="doing">Doing</option>
                        <option value="done">Done</option>
                    </select>

                    <label class="form-label" for="validationTooltip01">Projet</label>
                    <select class="form-select" name="projetid">
                        <option value="" hidden="">Selectionné le projet</option>
                        <option th:each="projet: ${listeProjets}" th:value="${projet.id}"
                                th:text="${projet.nomProjet}"/>
                    </select>

                    <label class="form-label" for="validationTooltip01">Avancement</label>
                    <select class="form-select" name="avancement">
                        <option value="" hidden="">Selectionné l'avancement</option>
                        <option value="0%">0%</option>
                        <option value="20%">20%</option>
                        <option value="40%">40%</option>
                        <option value="60%">60%</option>
                        <option value="80%">80%</option>
                        <option value="100%">100%</option>
                    </select>

                    <label class="form-label" for="validationTooltip01">Personnel</label>
                    <select class="form-select" name="persoid">
                        <option value="" hidden="">Selectionné le personnel</option>
                        <option th:each="perso: ${listePerso}" th:value="${perso.id}" th:text="${perso.nom}"/>
                    </select>

                    <div class="d-flex flex-wrap gap-2 justify-content-center">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-warning" type="reset">Reset</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title d-flex align-items-center bg-dark p-3">

            <h5 class="m-0 me-2 text-white">Theme Customizer</h5>

            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>

        <!-- Settings -->
        <hr class="m-0"/>

        <div class="p-4">
            <h6 class="mb-3">Layout</h6>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout"
                       id="layout-vertical" value="vertical">
                <label class="form-check-label" for="layout-vertical">Vertical</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout"
                       id="layout-horizontal" value="horizontal">
                <label class="form-check-label" for="layout-horizontal">Horizontal</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2">Layout Mode</h6>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-mode"
                       id="layout-mode-light" value="light">
                <label class="form-check-label" for="layout-mode-light">Light</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-mode"
                       id="layout-mode-dark" value="dark">
                <label class="form-check-label" for="layout-mode-dark">Dark</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2">Layout Width</h6>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-width"
                       id="layout-width-fuild" value="fuild"
                       onchange="document.body.setAttribute('data-layout-size', 'fluid')">
                <label class="form-check-label" for="layout-width-fuild">Fluid</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-width"
                       id="layout-width-boxed" value="boxed"
                       onchange="document.body.setAttribute('data-layout-size', 'boxed')">
                <label class="form-check-label" for="layout-width-boxed">Boxed</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2">Layout Position</h6>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-position"
                       id="layout-position-fixed" value="fixed"
                       onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
                <label class="form-check-label" for="layout-position-fixed">Fixed</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-position"
                       id="layout-position-scrollable" value="scrollable"
                       onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
                <label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2">Topbar Color</h6>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="topbar-color"
                       id="topbar-color-light" value="light"
                       onchange="document.body.setAttribute('data-topbar', 'light')">
                <label class="form-check-label" for="topbar-color-light">Light</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="topbar-color"
                       id="topbar-color-dark" value="dark" onchange="document.body.setAttribute('data-topbar', 'dark')">
                <label class="form-check-label" for="topbar-color-dark">Dark</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2 sidebar-setting">Sidebar Size</h6>

            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-size"
                       id="sidebar-size-default" value="default"
                       onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
                <label class="form-check-label" for="sidebar-size-default">Default</label>
            </div>
            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-size"
                       id="sidebar-size-compact" value="compact"
                       onchange="document.body.setAttribute('data-sidebar-size', 'md')">
                <label class="form-check-label" for="sidebar-size-compact">Compact</label>
            </div>
            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-size"
                       id="sidebar-size-small" value="small"
                       onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
                <label class="form-check-label" for="sidebar-size-small">Small (Icon View)</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2 sidebar-setting">Sidebar Color</h6>

            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-color"
                       id="sidebar-color-light" value="light"
                       onchange="document.body.setAttribute('data-sidebar', 'light')">
                <label class="form-check-label" for="sidebar-color-light">Light</label>
            </div>
            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-color"
                       id="sidebar-color-dark" value="dark"
                       onchange="document.body.setAttribute('data-sidebar', 'dark')">
                <label class="form-check-label" for="sidebar-color-dark">Dark</label>
            </div>
            <div class="form-check sidebar-setting">
                <input class="form-check-input" type="radio" name="sidebar-color"
                       id="sidebar-color-brand" value="brand"
                       onchange="document.body.setAttribute('data-sidebar', 'brand')">
                <label class="form-check-label" for="sidebar-color-brand">Brand</label>
            </div>

            <h6 class="mt-4 mb-3 pt-2">Direction</h6>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-direction"
                       id="layout-direction-ltr" value="ltr">
                <label class="form-check-label" for="layout-direction-ltr">LTR</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="layout-direction"
                       id="layout-direction-rtl" value="rtl">
                <label class="form-check-label" for="layout-direction-rtl">RTL</label>
            </div>

        </div>

    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- JAVASCRIPT -->
<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/libs/metismenu/metisMenu.min.js"></script>
<script src="assets/libs/simplebar/simplebar.min.js"></script>
<script src="assets/libs/node-waves/waves.min.js"></script>
<script src="assets/libs/feather-icons/feather.min.js"></script>
<!-- pace js -->
<script src="assets/libs/pace-js/pace.min.js"></script>

<!-- password addon init -->
<script src="assets/js/pages/pass-addon.init.js"></script>

<script src="assets/js/app.js"></script>

</body>
</html>